.countrybody{
    height: 105vh;
}
.CountryHeading{
    text-align: center;
}
.paper{
    border-radius: 4px;
    text-align: 'center' !important;
}
.totaldeath{
    background-color: #f32222;
    color: white;
}
.totalrecovered{
    color: white;
    background-color: #177f17eb;
}
.loadingSection{
    text-align: center;
    margin: 30px 0;
}
.SearchSection{
    text-align: center;
}
.SearchSection select{
    padding: 5px 20px;
}
.SearchSection button{
    padding: 5px 10px;
    margin: 0px 5px;

}
