body{
    background-color: #d2d2d266;
}
.GlobalHeading{
    text-align: center;
}
.paper{
    border-radius: 4px;
    padding: 10px 20px;
    text-align: 'center' !important;
}
.totaldeath{
    background-color: #f32222;
    color: white;
}
.totalrecovered{
    color: white;
    background-color: #177f17eb;
}
.loadingSection{
    text-align: center;
    margin: 30px 0;
}